<html>
    <head>
        <title>Game</title> 
    </head>
    <body style="background-color:rgb(196, 209, 209);font-family:Verdana; font-size:16px">
        <a href="{{ url_for('test_page') }}"><h4 style="text-align:right;">GO BACK</h4></a>
        <h2>Game to improve communication skills</h2>
        Our game for communication skills is still under development!<br>
        Please enjoy the following game for critical thinking:
        <br>
        <iframe frameborder="0" src="https://itch.io/embed-upload/4115364?color=333333" allowfullscreen="" width="962" height="662"><a href="https://nikimathew.itch.io/critical-thinking">Play Critical Thinking on itch.io</a></iframe>
    </body> 
</html>