{% extends 'base.html' %}

    {% block head %}

        <title>Critical Thinking</title>

    {% endblock %}

    {% block buttons %}

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    {% if current_user.acctype == 1 %}                
                        <a class="nav-link" href="{{ url_for('teacher_page') }}">HOME <span class="sr-only">(current)</span></a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('student_page') }}">HOME <span class="sr-only">(current)</span></a>
                    {% endif %}                
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">            
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">SIGN OUT</a>
                </li>
            </ul>
        </div>

    {% endblock %}

    {% block content %}

        <div style="text-align: center;">
            <h2>Game to improve critical thinking skills</h2>
            <br>
                Here is a demo game for improving your critical thinking skills:
            <br>
            <br>
            <iframe frameborder="0" src="https://itch.io/embed-upload/4115364?color=333333" allowfullscreen="" width="962" height="662">
                <a href="https://nikimathew.itch.io/critical-thinking">Play Critical Thinking on itch.io</a>
            </iframe>   
        </div>
            
    {% endblock %}