{% extends 'base.html' %}

    {% block head %}

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">      
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Student</title>  

    {% endblock %}

    {% block buttons %}

        <div class="collapse navbar-collapse" id="navbarNav">   
            <ul class="navbar-nav ml-auto">            
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">SIGN OUT</a>
                </li>
            </ul>
        </div>

    {% endblock %}

    {% block content %}

        <div class="welcome">
            <h2>Welcome Student!</h2>
        </div>
        <br>
        <br>
        <br>
        <div class="content">
            <a href="{{ url_for('assesment_page') }}"><h5><u>Take a test</u></h5></a>
            <br>
            <div>
                <p style="font-size: 18px; color: #107bf7;" id="skills_menu" onclick="more_skills()"><u>All Games</u></p>
                <ul id="skills_menu-box" style="display: block; list-style-type: none;" >
                    <li>
                        <p id="games_menu" style="color: #107bf7;" onclick="more_games()"><u>Critical Thinking</u></p>
                        <ul id="games_menu-box" style="display: block; list-style-type: none;">
                            <li>
                                <a href="{{ url_for('critical_thinking_page') }}">Rainy Day</a>
                            </li>
                            <br>
                        </ul>
                        <p><u>Communication</u> (More games coming soon...)</p>
                        <p><u>Creativity and Imagination</u> (More games coming soon...)</p>
                        <p><u>Problem Solving</u> (More games coming soon...)</p>
                        <p><u>Teamwork</u> (More games coming soon...)</p>
                        <p><u>Adaptibility</u> (More games coming soon...)</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <div class="profile_info">
                <img src="{{ profile }}" class="profile_image" style="height:175px;width:175px;">
            </div>
            <div class="profile-text">
                <br>
                Username: {{ current_user.username }}<br>
                Email id: {{ current_user.email }}
            </div>
        </div>

    {% endblock %}

    {% block script %}

    <script>
        var menuBox1 = document.getElementById('skills_menu-box');
        window.onload = menuBox1.style.display = "none";
        var menuBox2 = document.getElementById('games_menu-box');
        window.onload = menuBox2.style.display = "none";

        function more_skills() {
            if(menuBox1.style.display == "block") {
                menuBox1.style.display = "none";
            }
            else {
                menuBox1.style.display = "block";
            }
        }
        function more_games() {
            if(menuBox2.style.display == "block") {
                menuBox2.style.display = "none";
            }
            else {
                menuBox2.style.display = "block";
            }
        }
    </script>

    {% endblock %}