{% extends 'base.html' %}

    {% block head %}

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">      
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Student</title>  

    {% endblock %}

    {% block buttons %}

        <div class="collapse navbar-collapse" id="navbarNav">   
            <ul class="navbar-nav ml-auto">            
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">SIGN OUT</a>
                </li>
            </ul>
        </div>

    {% endblock %}

    {% block content %}

        <div class="welcome">
            <h2>Welcome Student!</h2>
        </div>
        <br>
        <br>
        <br>
        <div class="content">
            <div class="card">            
                <a href="{{ url_for('assesment_page') }}">Take a test</a>
            </div>
        </div>
        <div class="sidebar">
            <div class="profile_info">
                <img src="{{ profile }}" class="profile_image" style="height:175px;width:175px;">
            </div>
            <div class="profile-text">
                <br>
                Username: {{ current_user.username }}<br>
                Email id: {{ current_user.email }}
            </div>
        </div>

    {% endblock %}