{% extends 'base.html' %}

    {% block head %}

        <title>Login</title>

    {% endblock %}

    {% block buttons %}
        <div class="collapse navbar-collapse" id="navbarNav">      
            <ul class="navbar-nav ml-auto">        
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register_page') }}">REGISTER</a>
                </li>
            </ul>
        </div>
    {% endblock %}

    {% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="color:rgb(252, 2, 2); font-size:25px">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div style="text-align: center;"  class="container">
            <form method="POST" class="form-signin">
                {{ form.hidden_tag() }}
                <h2>SIGN IN</h2>
                <br>
                {{ form.username(class="form-control-lg", placeholder="Username") }}
                <br>
                <br>
                {{ form.password(class="form-control-lg", placeholder="Password") }}
                <br>
                <br>
                <div>
                    Don't have an account? <a href="{{ url_for('register_page') }}">SIGN UP</a>
                </div>
                <br>               
                    {{ form.submit(class="btn-lg  btn-primary") }}                
            </form>
        </div>
    {% endblock %}

    {% block style %}
        <style>
            .container
            {
                padding-top: 1em;
                position: absolute;
                top: 300px;
                left:50%;
                transform: translate(-50%,-50%);
                width: 350px;
                background:white;
                border-radius: 10px;
                padding-bottom: 2em;
            }

            form.form-signin{
                position: relative;
                margin: 30px 0;
            }

            .form-signin input{
                padding-top: 3em;
                width: 100%;
                padding: 0 5px;
                height: 40px;
                font-size: 16px;
                border: none;
                outline: none;
                border-bottom: 1px solid silver;
            }
        </style>
   {% endblock %}