{% extends 'base.html' %}

    {% block head %}

        <title>Login</title>

    {% endblock %}

    {% block buttons %}
        <div class="collapse navbar-collapse" id="navbarNav">      
            <ul class="navbar-nav ml-auto">        
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register_page') }}">REGISTER</a>
                </li>
            </ul>
        </div>
    {% endblock %}

    {% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="color:rgb(252, 2, 2); font-size:25px">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div style="text-align: center;"  class="login">
            <form method="POST" class="form-login">
                {{ form.hidden_tag() }}
                <h2>SIGN IN</h2>
                <br>
                {{ form.username(class="form-control-lg", placeholder="Username") }}
                <br>
                <br>
                {{ form.password(class="form-control-lg", placeholder="Password") }}
                <br>
                <br>
                <div>
                    Don't have an account? <a href="{{ url_for('register_page') }}">SIGN UP</a>
                </div>
                <br>               
                    {{ form.submit(class="btn-lg  btn-primary") }}                
            </form>
        </div>
    {% endblock %}