{% extends 'base.html' %}
{% block title %}
Teacher Login
{% endblock %}

{% block content %}
    <head>
        <title>Welcome Teacher</title> 
    </head>
    <body class="text-center" style="background-color:rgb(196, 209, 209);font-family:Verdana; font-size:16px">
        <br>
        <br>
        <h1>Welcome Teacher!</h1>
        <br>
        <img src="{{ profile }}">
        <br>
        <br>
        Username: {{ current_user.username }}
        <br>
        <br>    
        Email id: {{ current_user.email }}
        <br>
        <br>
        <a href="">Monitor your students</a>
    </body>
    <style>
        .text-center{
          
          background-color: #212121;
          color: black;
        }
    </style>


{% endblock %}