{% extends 'base.html' %}
{% block title %}
Teacher Login
{% endblock %}

{% block content %}
    <head>
        <title>Welcome Teacher</title> 
    </head>
    <body class="text-center" style="background-color:rgb(196, 209, 209);font-family:Verdana; font-size:16px">
        <br>
        <br>
        <h1>Welcome Teacher!</h1>
        <br>
        <img src="{{ profile }}" style="height:175px;width:175px;">   
        <br>
        <br>
        Username: {{ current_user.username }}
        <br>
        <br>    
        Email id: {{ current_user.email }}
        <br>
        <br>
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <h2>Your students:</h2>
            <script>i=0</script>
            {% for students in my_students %}
                <script>i=i+1; document.write(i+")");</script>
                <a href="">{{ students.username }}</a><br><br>
            {% endfor %}
            <b>Add new student: </b>
            {{ form.username(class="form-control", placeholder="Student's username") }}
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" style="color:rgb(252, 2, 2); font-size:16px">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </body>
    <style>
        .text-center{
          
          background-color: #212121;
          color: black;
        }
    </style>


{% endblock %}