<html>
    <head>
        <script type = "text/javascript" >  
            function preventBack() { window.history.forward(); }  
            setTimeout("preventBack()", 0);  
            window.onunload = function () { null };  
        </script> 
    </head>
    <body class="text-center" style="background-color:rgb(196, 209, 209); font-size:30px" >
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="color:rgb(252, 2, 2); font-size:25px">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container">
            <form method="POST" class="form-register">
                {{ form.hidden_tag() }}
                <h1>Signup</h1>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="Username") }}
                <br>
                <br>
                {{ form.email.label() }}
                {{ form.email(class="form-control", placeholder="Email") }}
                <br>
                <br>
                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password") }}
                <br>
                <br>
                {{ form.password2.label() }}
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                <br>
                <br>
                {{ form.acctype.label }}
                {{ form.acctype }}
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                <br>
                <br>
                <div class="checkbox mb-3">
                    Already have an account? <a href="{{ url_for('login_page') }}">Signin</a>
                </div>
            </form>
        </div>
    </body>
</html>
